=clearfix
    &::after
        display: block
        clear: both
        content: ""

=sr-only
    position: absolute
    width: 1px
    height: 1px
    padding: 0
    overflow: hidden
    clip: rect(0, 0, 0, 0)
    white-space: nowrap
    border: 0

=sr-only-focusable
    &:active,
    &:focus
        position: static
        width: auto
        height: auto
        overflow: visible
        clip: auto
        white-space: normal

%flex-space-evenly
    justify-content: space-between

    &::before,
    &::after
        display: block
        content: ''

%clearfix
    +clearfix

%sr-only
    +sr-only

%sr-only-focusable
    +sr-only-focusable

%event-nugget
    position: relative
    display: block
    background: $color-btn-background

    &.required
        &::before
            position: absolute
            top: -2px
            left: -2px
            display: block
            content: ''
            width: 4px
            height: calc(100% + 4px)
            background: $color-required

        &.full:not(.reserved)::before
            background: $color-full

        &.reserved::before
            background: $color-reserved

    &.bookmarked
        background: $color-bookmarked !important
