// Colors
// ########################
//
// grey-map => return map with given color and it's opacity value if mixed via solid white on solid black
//
// ------------------------ Base-Colors
$white: #fff
$black: #000

$green: #42b983
$red: #f00
$blue: #00f

$color-text: #333
$color-link: #2c3e50
$color-btn-background: #efefef

$color-required: tint($blue, 50%)
$color-reserved: $green
$color-full: tint($red, 50%)
$color-bookmarked: tint($green, 60%)

$color-table-caption: $color-text
